.booklet__dashboard-container .anticon.anticon-sync {
  font-size: 2.5em;
}
.booklet__dashboard-container .booklet__dashboard-propic {
  text-align: center;
}
.booklet__dashboard-container img {
  height: 15em;
}
